body {
    /* background-image: url("...assets/images/friends-wallpaper.jpg") */
}

form {
    color:black;
    background-color: gray;
    opacity: 0.75;
    width: 1024px;
    margin: 0 auto;
}

.question {
    padding: 10%, 10%, 10%, 10%;
    font-weight: bold;
}

.answers {
    font-weight:lighter;
}

#header {
    padding-top: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    font-weight: bold;

}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    font-weight: bold;
    
}

h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    
}

button {
    text-align: center;
}